@import "../COLORS.css";

.CommunityWrapper {
    max-width: 1000px;
    margin: 0px auto 0px auto;
}

.CommunityTracksWrapper {
    margin: 0px 10px 0px 10px;
}

.UploadNewWrapper {
    margin: 0px 10px 0px 10px;
    align-items: center;
}


/*------------------------------------------------------------------------------*/
                                    /* Uploader */


.UploadNewButtonWrapper {
    width: fit-content;
    margin: auto;
}