@import "../COLORS.css";

.NavBarStyling {
    border: 2px;
    background-color: var(--maincolor);
    width: 100%;
}

.LinkStyle, .LoginButton, .SettingsButton {
    background-color: var(--maincolor);
    color: var(--accentcolor);
    cursor: pointer;

    font-family: Arial;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

    padding: 15px 32px;
    display: inline-block;
}

.LoginButton, .SettingsButton {
    float: right;
}
.LinkStyle:hover, .LoginButton:hover, .SettingsButton:hover {
    background-color: var(--mainhover);
    color: var(--accentcolor);
}